Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные. water.txt

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

Нас интересует только второй вариант, несмещённая оценка стандартного отклонения.

Чтобы не думать всё время о том, правильно ли вычисляется в вашем случае std(), можно всегда использовать std(ddof=1) (ddof — difference in degrees of freedom), тогда нормировка всегда будет на n-1.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('water2.txt', sep='\t')

In [3]:
data.head(3)

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5

In [4]:
data.shape

(61, 4)

In [5]:
data.describe()

         mortality    hardness
count    61.000000   61.000000
mean   1524.147541   47.180328
std     187.668754   38.093966
min    1096.000000    5.000000
25%    1379.000000   14.000000
50%    1555.000000   39.000000
75%    1668.000000   75.000000
max    1987.000000  138.000000

In [6]:
type (data.describe())

pandas.core.frame.DataFrame

In [7]:
X_avg = data.describe().loc['mean','mortality']
S = data.describe().loc['std','mortality']
n = data.describe().loc['count','mortality']
alpha = 0.05
print X_avg, S, n, alpha

1524.14754098 187.668753931 61.0 0.05

In [8]:
from statsmodels.stats.weightstats import _tconfint_generic

statsmodels.stats.weightstats.tconfintgeneric(mean, std_mean, dof, alpha, alternative)

In [9]:
clu = _tconfint_generic(X_avg, S, (n-1), alpha, 'two-sided' )
clu

(1148.7541414137941, 1899.5409405534192)

На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [10]:
south = data.loc[data['location'] == 'South']
#south.loc['count','mortality']
south.head()

   location         town  mortality  hardness
0     South         Bath       1247       105
2     South   Birmingham       1466         5
7     South  Bournemouth       1299        78
9     South     Brighton       1359        84
10    South      Bristol       1392        73

In [11]:
X_avg_south = south.describe().loc['mean','mortality']
S_south = south.describe().loc['std','mortality']
n_south = south.describe().loc['count','mortality']
alpha = 0.05
print X_avg_south, S_south, n_south, alpha

1376.80769231 140.269175297 26.0 0.05

statsmodels.stats.weightstats._tconfint_generic(mean, std_mean, dof, alpha, alternative)

In [12]:
clu_south = _tconfint_generic(X_avg_south, 
                              S_south,
                              (n_south-1),
                              alpha,
                              'two-sided')
clu_south

(1087.9179180208971, 1665.6974665944877)

На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим? Как вы думаете, какой из этого можно сделать вывод?

Интервалы не пересекаются; видимо, средняя смертность на севере и на юге существенно разная

Интервалы пересекаются; похоже, средняя смертность на севере и на юге одинаковая

Интервалы пересекаются; видимо, средняя смертность на севере и на юге существенно разная

Интервалы не пересекаются; похоже, средняя смертность на севере и на юге одинаковая

In [13]:
north = data.loc[data['location'] == 'North']
north.head()

  location        town  mortality  hardness
1    North  Birkenhead       1668        17
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18
5    North      Bolton       1558        10
6    North      Bootle       1807        15

In [14]:
X_avg_north = north.describe().loc['mean','mortality']
S_north = north.describe().loc['std','mortality']
n_north = north.describe().loc['count','mortality']
alpha = 0.05
print X_avg_north, S_north, n_north, alpha

1633.6 136.936911193 35.0 0.05

In [15]:
clu_north = _tconfint_generic(X_avg_north,
                               S_north,
                              (n_north-1),
                              alpha,
                              'two-sided')
clu_north

(1355.3107141052517, 1911.8892858947481)

In [16]:
clu_south

(1087.9179180208971, 1665.6974665944877)

In [17]:
hardness_X_avg_north = north.describe().loc['mean', 'hardness']
hardness_S_north = north.describe().loc['std', 'hardness']
hardness_n_north = north.describe().loc['count', 'hardness']
alpha = 0.05
print   hardness_X_avg_north, hardness_S_north, hardness_n_north, alpha

30.4 26.1344937718 35.0 0.05

In [18]:
hardness_clu_north =  _tconfint_generic(hardness_X_avg_north, 
                              hardness_S_north,
                              hardness_n_north-1,
                              alpha,
                              'two-sided')
hardness_clu_north

(-22.711681471446482, 83.511681471446479)

In [19]:
hardness_X_avg_south = south.describe().loc['mean', 'hardness']
hardness_S_south = south.describe().loc['std', 'hardness']
hardness_n_south = south.describe().loc['count', 'hardness']
alpha = 0.05
print hardness_X_avg_south, hardness_S_south, hardness_n_north, alpha

69.7692307692 40.3606815525 35.0 0.05

In [20]:
hardness_clu_south =  _tconfint_generic(hardness_X_avg_south, 
                              hardness_S_south,
                              hardness_n_north-1,
                              alpha,
                              'two-sided')
hardness_clu_south

(-12.253542708216216, 151.79200424667778)

Вспомним формулу доверительного интервала для среднего нормально распределённой случайной величины с дисперсией σ2\sigma^2σ2:

Xˉn±z1−α2σn\bar{X}_n\pm z_{1-\frac{\alpha}{2}} \frac{\sigma}{\sqrt{n}}Xˉn​±z1−2
α​​n
​
σ​

При σ=1\sigma=1σ=1 какой нужен объём выборки, чтобы на уровне доверия 95% оценить среднее с точностью ±0.1\pm0.1±0.1?

In [21]:
req_n = 1.95996**2 * 1**2 / 0.1**2
req_n

384.1443201599999

https://www.dummies.com/education/math/statistics/how-to-calculate-a-confidence-interval-for-a-population-mean-when-you-know-its-standard-deviation/

1. Write down task.
Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

2. Get sutable data.

In [35]:
type(data.mortality)

pandas.core.series.Series

In [49]:
mortality = data.mortality
mortality.values

array([1247, 1668, 1466, 1800, 1609, 1558, 1807, 1299, 1637, 1359, 1392,
       1755, 1519, 1307, 1254, 1491, 1555, 1428, 1318, 1260, 1723, 1379,
       1742, 1574, 1569, 1096, 1591, 1402, 1772, 1828, 1704, 1702, 1581,
       1309, 1259, 1427, 1724, 1175, 1486, 1456, 1696, 1236, 1711, 1444,
       1591, 1987, 1495, 1369, 1257, 1587, 1713, 1557, 1640, 1709, 1625,
       1625, 1527, 1627, 1486, 1485, 1378])

3. Calculate X_mean and std.

In [50]:
mean = sum(mortality.values*1.0)/len(mortality)
mean

1524.1475409836066

In [46]:
mean = sum(mortality)/mortality.describe()['count']
mean

1524.1475409836066

In [39]:
mortality.describe()

count      61.000000
mean     1524.147541
std       187.668754
min      1096.000000
25%      1379.000000
50%      1555.000000
75%      1668.000000
max      1987.000000
Name: mortality, dtype: float64

In [47]:
import numpy as np

In [52]:
std = mortality.values.std(ddof=1)
std

187.6687539314571

4.Choose confidence level.

In [53]:
a = 0.05 # 95%

5. Calculate margin of error. https://stackoverflow.com/questions/15033511/compute-a-confidence-interval-from-sample-data

In [54]:
import scipy.stats


def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
    return m, m-h, m+h

In [58]:
mean, lo, hi = mean_confidence_interval(mortality.values)

In [56]:
clu # error?

(1148.7541414137941, 1899.5409405534192)

6. Confidence interval.

In [59]:
print lo, mean, hi
print clu

1476.08334136 1524.14754098 1572.21174061
(1148.7541414137941, 1899.5409405534192)

In [60]:
mean_confidence_interval(south.mortality.values)

(1376.8076923076924, 1320.1517462936238, 1433.463638321761)

In [61]:
mean_confidence_interval(north.mortality.values)

(1633.5999999999999, 1586.5605251961385, 1680.6394748038613)

In [62]:
mean_confidence_interval(south.hardness.values)

(69.769230769230774, 53.467198692036106, 86.071262846425441)

In [63]:
mean_confidence_interval(north.hardness.values)

(30.399999999999999, 21.422487285724259, 39.377512714275738)

In [80]:
1.96**2 * (1**2 / 0.1**2) +1

385.1599999999999

In [66]:
((1.96 * 1)/ 0.1) **2

384.1599999999999

In [84]:
# do i need this?
np.ceil((scipy.stats.norm.ppf(1-0.05/2) / 0.1)**2)

385.0

In [68]:
_tconfint_generic(data[data.location == 'South'].hardness.mean(), data[data.location == 'South'].hardness.std(ddof=1) / np.sqrt(len(data[data.location == 'South'])), len(data[data.location == 'South']) - 1, 0.05, 'two-sided')

(53.467198692036106, 86.071262846425441)

In [69]:
_tconfint_generic(data[data.location == 'North'].hardness.mean(), data[data.location == 'North'].hardness.std(ddof=1) / np.sqrt(len(data[data.location == 'North'])), len(data[data.location == 'North']) - 1, 0.05, 'two-sided')

(21.422487285724259, 39.377512714275738)

In [70]:
_tconfint_generic(data['mortality'].mean(), 
                  data['mortality'].std(ddof=1) / np.sqrt(len(data)),
                  len(data) - 1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [71]:
_tconfint_generic(data[data.location == 'South'].mortality.mean(),     data[data.location == 'South'].mortality.std(ddof=1) / np.sqrt(len(data[data.location == 'South'])), len(data[data.location == 'South']) - 1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [72]:
data['mortality'].mean()

1524.1475409836066

In [73]:
X_avg

1524.1475409836066

In [74]:
data['mortality'].std(ddof=1)

187.6687539314571

In [78]:
S

187.6687539314571

In [79]:
_tconfint_generic(X_avg, S/np.sqrt(n), (n-1), alpha, 'two-sided' )

(1476.0833413552848, 1572.2117406119285)

хорошая ссылка http://baguzin.ru/wp/opredelenie-obema-vyborki/