Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные. water.txt

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

Нас интересует только второй вариант, несмещённая оценка стандартного отклонения.

Чтобы не думать всё время о том, правильно ли вычисляется в вашем случае std(), можно всегда использовать std(ddof=1) (ddof — difference in degrees of freedom), тогда нормировка всегда будет на n-1.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('water.txt', sep='\t')

In [3]:
data.head(3)

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5

In [4]:
data.shape

(61, 4)

In [5]:
data.describe()

         mortality    hardness
count    61.000000   61.000000
mean   1524.147541   47.180328
std     187.668754   38.093966
min    1096.000000    5.000000
25%    1379.000000   14.000000
50%    1555.000000   39.000000
75%    1668.000000   75.000000
max    1987.000000  138.000000

In [6]:
type (data.describe())

pandas.core.frame.DataFrame

In [33]:
X_avg = data.describe().loc['mean','mortality']
S = data.describe().loc['std','mortality']
n = data.describe().loc['count','mortality']
alpha = 0.05
print X_avg, S, n, alpha

1524.14754098 187.668753931 61.0 0.05

In [34]:
from statsmodels.stats.weightstats import _tconfint_generic

statsmodels.stats.weightstats.tconfintgeneric(mean, std_mean, dof, alpha, alternative)

In [35]:
clu = _tconfint_generic(X_avg, S, (n-1), alpha, 'two-sided' )
clu

(1148.7541414137941, 1899.5409405534192)

На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [36]:
south = data.loc[data['location'] == 'South']
#south.loc['count','mortality']
south.head()

   location         town  mortality  hardness
0     South         Bath       1247       105
2     South   Birmingham       1466         5
7     South  Bournemouth       1299        78
9     South     Brighton       1359        84
10    South      Bristol       1392        73

In [37]:
X_avg_south = south.describe().loc['mean','mortality']
S_south = south.describe().loc['std','mortality']
n_south = south.describe().loc['count','mortality']
alpha = 0.05
print X_avg_south, S_south, n_south, alpha

1376.80769231 140.269175297 26.0 0.05

statsmodels.stats.weightstats._tconfint_generic(mean, std_mean, dof, alpha, alternative)

In [38]:
clu_south = _tconfint_generic(X_avg_south, 
                              S_south,
                              (n_south-1),
                              alpha,
                              'two-sided')
clu_south

(1087.9179180208971, 1665.6974665944877)

На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим? Как вы думаете, какой из этого можно сделать вывод?

Интервалы не пересекаются; видимо, средняя смертность на севере и на юге существенно разная

Интервалы пересекаются; похоже, средняя смертность на севере и на юге одинаковая

Интервалы пересекаются; видимо, средняя смертность на севере и на юге существенно разная

Интервалы не пересекаются; похоже, средняя смертность на севере и на юге одинаковая

In [39]:
north = data.loc[data['location'] == 'North']
north.head()

  location        town  mortality  hardness
1    North  Birkenhead       1668        17
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18
5    North      Bolton       1558        10
6    North      Bootle       1807        15

In [40]:
X_avg_north = north.describe().loc['mean','mortality']
S_north = north.describe().loc['std','mortality']
n_north = north.describe().loc['count','mortality']
alpha = 0.05
print X_avg_north, S_north, n_north, alpha

1633.6 136.936911193 35.0 0.05

In [41]:
clu_north = _tconfint_generic(X_avg_north,
                               S_north,
                              (n_north-1),
                              alpha,
                              'two-sided')
clu_north

(1355.3107141052517, 1911.8892858947481)

In [42]:
clu_south

(1087.9179180208971, 1665.6974665944877)

In [43]:
hardness_X_avg_north = north.describe().loc['mean', 'hardness']
hardness_S_north = north.describe().loc['std', 'hardness']
hardness_n_north = north.describe().loc['count', 'hardness']
alpha = 0.05
print   hardness_X_avg_north, hardness_S_north, hardness_n_north, alpha

30.4 26.1344937718 35.0 0.05

In [31]:
hardness_clu_north =  _tconfint_generic(north.describe().loc['mean', 'hardness'], 
                              north.describe().loc['std', 'hardness'],
                              north.describe().loc['count', 'hardness']-1,
                              alpha,
                              'two-sided')
hardness_clu_north

(-22.711681471446482, 83.511681471446479)

In [32]:
hardness_clu_south =  _tconfint_generic(south.describe().loc['mean', 'hardness'], 
                              south.describe().loc['std', 'hardness'],
                              south.describe().loc['count', 'hardness']-1,
                              alpha,
                              'two-sided')
hardness_clu_south

(-13.355148903600366, 152.89361044206191)