Download the dataset with 10000 taxi trips below:
sample10000.csv

Using the data dictionary, check how many passengers in the sample paid for their ride with cash.

In [1]:
import pandas as pd

data = pd.read_csv('sample10000.csv')
print data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
VendorID                 10000 non-null int64
tpep_pickup_datetime     10000 non-null object
tpep_dropoff_datetime    10000 non-null object
passenger_count          10000 non-null int64
trip_distance            10000 non-null float64
RatecodeID               10000 non-null int64
store_and_fwd_flag       10000 non-null object
PULocationID             10000 non-null int64
DOLocationID             10000 non-null int64
payment_type             10000 non-null int64
fare_amount              10000 non-null float64
extra                    10000 non-null float64
mta_tax                  10000 non-null float64
tip_amount               10000 non-null float64
tolls_amount             10000 non-null float64
improvement_surcharge    10000 non-null float64
total_amount             10000 non-null float64
dtypes: float64(8), int64(6), object(3)
memory usage: 1.3+ MB
None

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.50,0.0,0.3,7.80
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.00,0.0,0.3,4.80
2,1,2016-12-17 00:57:37,2016-12-17 01:10:37,3,2.30,1,N,90,233,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
3,1,2016-12-01 20:32:54,2016-12-01 20:52:17,1,5.00,1,N,13,143,1,18.5,0.5,0.5,3.95,0.0,0.3,23.75
4,2,2016-12-12 19:25:14,2016-12-12 19:34:15,2,1.43,1,N,164,79,1,7.5,1.0,0.5,1.00,0.0,0.3,10.30

Payment_type
A numeric code signifying how the passenger paid for the trip. 
- 1= Credit card
- 2= Cash
- 3= No charge
- 4= Dispute
- 5= Unknown
- 6= Voided t

In [5]:

nCash = data.payment_type == 2
sum(nCash)

3543

In [16]:
data.payment_type.value_counts()

1    6397
2    3543
3      48
4      12
Name: payment_type, dtype: int64

Build a 99% confidence interval for the proportion of cash payers. What is its' lower boundary?

In [7]:
from statsmodels.stats.proportion import proportion_confint
proportion_confint(sum(nCash), len(nCash), alpha=0.01)

(0.34197979174644566, 0.36662020825355435)

3. Use the same sample to estimate the average trip distance in miles. Provide the answer with at least two digits after decimal.

Trip_distance
The elapsed trip distance in miles reported by the taximet

In [10]:
ncTrip = data.trip_distance
print ncTrip.mean(), ncTrip.median()

2.881264 1.645

4. What is the standard deviation of the estimator from the previous question? Provide the answer with at least three digits after

In [14]:
import numpy as np
sampleStd = ncTrip.std(ddof=1) / np.sqrt(len(ncTrip))
sampleStd

0.035839254113945153

5. Calculate 95% confidence interval for the mean trip distance. What is the upper boundary? Provide the answer with at least two digits after decimal.

In [15]:
from statsmodels.stats.weightstats import _tconfint_generic
_tconfint_generic(ncTrip.mean(), 
                  sampleStd, 
                  len(ncTrip) - 1, 
                  0.05, 'two-sided')

(2.8110118487985924, 2.9515161512013965)